<div class="container-fluid">
  <section class="about-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 p-0">
          <div class="about-bg" [ngStyle]="{'background-image':' url(' + this.profileData.profilePicPath + ')'}" >
          </div>
        </div>
        <div class="col-lg-6 p-0">
          <div class="about-text">
            <h3>About</h3>
            <h2>{{this.profileData.firstname}} {{this.profileData.lastname}}</h2>
            <p>{{this.profileData.bio}}</p>
            <h4>My Fields</h4>
            <p>{{this.profileData.fields}}</p>
            <a href="#" class="site-btn">contact me / Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About section end  -->

  <!-- Portfolio section -->
  <section class="portfolio-2-section">
    <div class="portfolio-warp">
      <div class="row portfolio-gallery m-0">
        <div class="mix col-lg-4 col-sm-6 p-0 nature" *ngFor="let i of pictureIds">
          <div class="portfolio-box">
            <img class="portfolio-item set-bg" src="../../assets/img/portfolio/{{i}}.jpg">
            <h6>Shadow in the water</h6>
            <p>2019</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="site-btn">Load More</button>
    </div>
  </section>
<!-- Portfolio section end  -->

  <!-- Portfolio section end -->
</div>
