<div class="container-fluid">
  <div class="row">

    <div class="col-md-9 col-xs-12">
      <div class="card edit-profile-card center">

        <div class="card-header">
      Basic Infos
    </div>
         <div class="card-body">
      <form class="form-card">

        <mat-form-field class="form-item-full-width">
          <input matInput placeholder="First Name" value="Salma">
        </mat-form-field><br />
        <mat-form-field class="form-item-full-width">
          <input matInput placeholder="Last Name" value="Rais">
        </mat-form-field><br />
        <mat-form-field class="form-item-full-width">
          <input matInput type="email" placeholder="Email" value="salma.rais@gmail.com">
        </mat-form-field><br />
        <mat-form-field class="form-item-full-width">
          <input matInput placeholder="Phone Number" value="45845668">
        </mat-form-field><br />
        <button mat-flat-button color="accent" type="submit">Save Changes</button>
      </form>
    </div>

      </div>

      <div class="card edit-profile-card center">

        <div class="card-header">
          Public Infos
        </div>
        <div class="card-body">
          <form class="form-card">


            <mat-form-field class="form-item-full-width">
              <input matInput placeholder="Phone Number" value="45845668">
            </mat-form-field><br />


            <mat-form-field class="form-item-full-width">
              <textarea matInput placeholder="Bio" value="Bio description"></textarea>
            </mat-form-field>

            <mat-form-field class="form-item-full-width">
              <textarea matInput placeholder="Fields of work"></textarea>
            </mat-form-field>
            <button mat-flat-button color="accent" type="submit">Save Changes</button>
          </form>
        </div>

      </div>
    </div>

    <div class="col-md-3 col-xs-0">
      <app-profil-card></app-profil-card>
    </div>

  </div>
</div>

