<!----------- Footer ------------>
<footer class="footer-bs">
  <div class="row">
    <div class="col-md-10 footer-brand animated fadeInLeft">
      <h2 class="shooters-logo">Shooters</h2>
      <p>Shooters is a photography social network for sharing photos you take with the world</p>
      <p>© Designed by Ahmed Belgacem & Salma Rais 2020 All rights reserved</p>
    </div>
    <div class="col-md-2 footer-nav animated fadeInUp">


    </div>

  </div>
</footer>
<section style="text-align:center; margin:10px auto;"><p>Designed by
  <a href="https://www.linkedin.com/in/salma-rais/">Salma Rais</a>
  & <a href="https://www.linkedin.com/in/ahmed-belgacem-b2a63a164/">Ahmed Belgacem</a></p></section>
