

  <!----------- Footer ------------>
  <footer class="footer-bs">
    <div class="row">
      <div class="col-md-10 footer-brand animated fadeInLeft">
        <h2 class="shooters-logo">Shooters</h2>
        <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
        <p>© 2014 BS3 UI Kit, All rights reserved</p>
      </div>
      <div class="col-md-2 footer-nav animated fadeInUp">
          <h4>Menu</h4>
          <ul class="list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

      </div>

    </div>
  </footer>
  <section style="text-align:center; margin:10px auto;"><p>Designed by
    <a href="https://www.linkedin.com/in/salma-rais/">Salma Rais</a>
    & <a href="https://www.linkedin.com/in/ahmed-belgacem-b2a63a164/">Ahmed Belgacem</a></p></section>

