body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}


.shooters-logo {
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 10px;
}

@media (max-width: 491px) {
  .shooters-logo {
    letter-spacing: 2px;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Forms */
.form-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-item-full-width {
  width: 100%;
}


.edit-profile-card  {
  width: 100%;
  margin: auto;
}

